{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 80,
  "importOrder": [
    "^(assets|components|config|router|services|contexts)/(.*)$",
    "^[./]",
    "^index.css"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true
}
